
@{
    ViewBag.Title = "AdminLanding";
}

<h2>AdminLanding</h2>
<ul>
    <!--<li>
        Html.ActionLink("Manage Roles", "ReviewIndex")
    </li>-->
    <li>
        @Html.ActionLink("Manage Users", "UserIndex")
    </li>
    <li>
        @Html.ActionLink("Manage Reviews", "ReviewIndex")
    </li>
    <li>
        @Html.ActionLink("Manage Rollercoasters", "RollercoasterIndex")
    </li>
</ul>